body {
   background-color: black;
}

.calculator-main {
   padding: 280px;
   background-color: black;
   justify-items: center;
}

.calculator-body {
   display: grid;
   grid-gap: 10px;
   grid-template-columns: 70px 70px 70px 70px;
   justify-items: center;
}

.size-button {
   background-color: rgb(255, 174, 0);
   border-radius: 10px;
   border: 3px solid white;
   font-size: 1rem;
   padding: 30px 30px;
}

.grid-button {
   justify-items: center;
}

.grid-button-AC {
   display: grid;
   grid-column-start: 3;
   grid-column-end: 5;
}

.grid-button-equal {
   display: grid;
   grid-column-start: 1;
   grid-column-end: 3;
}

.size-button-scobka {
   background-color: rgb(255, 174, 0);
   border-radius: 10px;
   border: 3px solid white;
   font-size: 1rem;
   padding: 30px 31px;
}

.size-button-dividing {
   background-color: rgb(255, 174, 0);
   border-radius: 10px;
   border: 3px solid white;
   padding: 30px 30px;
   font-size: 1rem;
}

.size-button-equal {
   background-color: rgb(255, 174, 0);
   border-radius: 10px;
   border: 3px solid white;
   font-size: 1.5rem;
   padding: 10px 62px;
}

.size-button-AC {
   background-color: rgb(255, 174, 0);
   border-radius: 10px;
   border: 3px solid white;
   padding: 10px 62px;
}